body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
  border: 2px solid #fff;
  padding: 12px;
  color: #ff00ee;
}

li {
  margin-left: 20px;
  color: #fff;
  font-size: 1rem;
}
